$Cyan: hsl(176, 68%, 64%);
$Blue : hsl(198, 60%, 50%);
$neutral: white;
$mainblue: #1c2230;
$darkblue: #181f2b;


$body-font: "Open Sans", sans-serif;
$cta-font: "Raleway", sans-serif;

$regular: 400;
$bold: 700;