@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import 'variables';
@import 'functions';

a {
    text-decoration: none;
}


* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    color: #23292e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

body {
    font-size: em(14);
    font-family: $body-font;
    background-color: $darkblue;
}



header {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $mainblue;
    padding: em(30);

    & .logo {
        width: 120px;
        // background-color: red;
    }
    & ul li {
        display: inline-block;
        color: $neutral;
        padding-right: em(15);
        text-align: right;
    }
}

.main {
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: $mainblue;
    background-image: url('../../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    height: 1000px;
    padding: em(20);
    
    
    & .main-text h1 {
        padding-top: 50px;
        color: $neutral;
        font-family: $cta-font;
        line-height: 1;
    }
    & p {
        padding-top: 10px;
        padding-bottom: 10px;
        color: $neutral;
        font-family: $cta-font;
        line-height: 1;
        font-size: em(14);
    }
}

@media (max-width:576px) {
    .main {
        background-color: red;
        background-image: url('../../images/bg-curvy-mobile.svg');
        height: 800px;
    }
}

.main img {
    width: auto;
}
@media (max-width: 960px) {
    .main img {
       width: 100%;
    }
}

.btn {
    width: 230px;
    height: 54px;
    background-image: linear-gradient(to right, $Blue, $Cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-weight: $regular;
    font-size: em(16);
    transition: all .3s;
    & a {
        color: $neutral;
    }
}

.diferencials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.diferencials_items{
    width: 500px;
    padding: em(50);
    & h1, p {
        color: $neutral;
        font-family: $body-font;
    }
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: em(80);
    padding-bottom: em(80);
    & h1 {
        font-size: em(48);
        color: $neutral;
        padding-bottom: em(10);
        line-height: 1;
        
    } & p {
        color: $neutral;
        font-family: $body-font;
        line-height: 1.5;
        padding-bottom: em(10);
    } & a {
        color: $Cyan;
        text-decoration: underline;
        padding-right: 10px;
    } & img {
        padding-right: em(20);

}
}
@media (max-width: 960px) {
        .quote {
            flex-wrap: wrap;
        }
}


.quote a::after {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background: url('../../images/icon-arrow.svg') no-repeat;
    margin-left: em(5);
    transform: translateY(em(2));
}

// Testimonials
.tests {
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-bottom: em(300);
    margin-top: em(150);
}

.testimonais {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 0;
    flex-wrap: wrap;
    font-family: $cta-font;
    padding-top: em(30);
    background: url('../../images/bg-quotes.png') no-repeat;

}
@media (max-width: 940px) {
    .testimonais {
        flex-direction: column;
    }
}


.testimonial {
   background-color: #21293c;
   padding: 30px;
   border-radius: 10px;
   flex-basis: 30%;
   margin-bottom: 20px;
& .test-text {
    color: $neutral;
    text-align: left;
    padding-bottom: 20px;
}
}
.test-auth {
    display: flex;
    flex-direction: row;
}
.test-auth-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & p {
        color: $neutral;
    }
    & span {
        font-weight: $bold;
        color: $neutral;
    }
}

.test-img {
    border-radius: 50%;
    margin-right: 10px;
    height: 50px;
}

// Newsletter 

.news {
    background-color: #0c1524;
}

.newsletter {
    
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: space-around;
    background-color: #21293c;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    padding: em(50);
    position: relative;
    top: -120px;
    width: 60%;
    & h1 {
        color: $neutral;
        font-size: em(48);
        font-family: $cta-font;
        padding-bottom: em(5);
    } p {
        color: $neutral;
        padding-bottom: em(20);
    }
}

.input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    & input {
       
        flex-basis: 400px;
        height: 54px;
        border-radius: 30px;
        font-weight: $regular;
        font-size: em(16);
        transition: all .3s;
        padding: em(30);
        margin-right: em(10);

}   
}
footer {
    background-color: #0c1524;
}